.homeContainer{
	max-width: 80%;
	margin: auto;
}

.heroSection,
.heroSection4{ 
	height: 75svh;
	margin: auto;
	border-radius: 1rem;
	background-size: 'cover';
	background-position: 'center';
    background-repeat: 'no-repeat';
	align-items: center;
	flex-direction: column;
	display: flex;
	position: relative;
}

.heroSection::before, 
.heroSection4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.heroSection > div
.heroSection4 > div{
	margin-top: 4rem;
}

.heroSection > *, 
.heroSection4 > * {
    position: relative;
    z-index: 2;
}

.heroSection2, .heroSection3{
	margin-top: 1rem;
}

.heroSection3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr)); 
    gap: 1.5rem; 
    justify-content: center;
    height: fit-content;
    margin-bottom: 2rem;
}

.videoContainer{
    overflow: hidden;
    display: flex;
    justify-content: center;
    max-width: 300px;
    height: 100%;
    width: 100%;
    max-height: 300px;
}

.heroSection3 > div > div > video {
    max-width: 100%;  
    transform: scale(2);
    overflow: hidden;
    display: block; 
    object-fit: contain;
}

.heroSection a, .heroSection4 a{
	background-color: white;
	color: black;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
}

@media (max-width: 950px) {
    .heroSection3 {
        grid-template-columns: repeat(auto-fit, minmax(3rem, 25rem));
        gap: 1rem;
    }
}