.bankContainer{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 2rem 0;
    border-radius: 1rem;
    width: 100%;
}
.removeButton{
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem 0;
    color: black;
}

.removeButton a{
    color: black;
}