nav{
	width: 100%;
	text-align: center;
	padding: 10px 0;
}
.navContainer{
	padding: 5px 0px;
	display: inline-flex;
	min-width: 90%;
	align-items: center;
	justify-content: space-evenly;
}

.logo img{
	max-height: 60px;
}
.navTitle{
	text-transform: uppercase;
	padding: 10px;
}

.mobileNav{
	display:none;
}

@media (max-width: 950px) {
	.mobileNav{
		display: block;
	}
	.navTitle{
		display: block;
	}
	.desktopNav{
		display: none;
	}
	.totalSection{
		flex-direction: column;
	}
	.lastEmement{
		height: fit-content;
	}
}
